
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    background: url(images/Play.jpeg);
    font-family: 'Montserrat', sans-serif;
    color:  #303030;

}
canvas {
    border: 1px solid black;
}

#title{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 2%;
    padding: 1% 2%;
    border-radius: 50%;
    font-weight: normal;
}

#subtitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 10%;
}

#subtitle a{
    padding: 2%;
    text-decoration: none;
    color: #ff3131;
    font-size:x-large;
}

#subtitle a:hover{
    color: #303030;
}


#reset-button{
    margin: 20px;
    padding: 10px 50px;
    font-size: 2rem;
}
#options-play{
  display: flex;
}

.options-button{
    font-size: 2rem;
    margin: 20px;
    padding: 10px 50px;
}

.options-button > label, input, button, p{
    font-size: 2rem;
    margin: 20px;
    padding: 10px 50px;
}

#player-input{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}
#name-input{
    background-color: #fff;
    border-color: #ff3131;
    color:  #303030;
}
#player-input-img{
    z-index: -1000;
    user-select: none;
    display: flex;
    justify-content: center;
   
}
#waiting-message{
    font-weight: normal;
}
#status-name{
    font-weight: normal;
}

#tudom{
display: flex;
justify-content: center;
flex-direction: row-reverse;

}

#mateus p{
    font-size: large;
}

#mateus a{
    color: #ff3131;
    padding: 3%;
    margin: 1%;
    text-decoration: none;
    font-size: large;
}
#mateus-img{
    display: flex;
    justify-content: start;
    padding: 2%;
}

#mateus a:hover{
    color: #303030;
}


#tudog{
    display: flex;
    justify-content: center;
}

#gustavo p{
    font-size: large;
}

#gustavo a{
    color: #ff3131;
    padding: 3%;
    margin: 1%;
    text-decoration: none;
    font-size: large
}

#gustavo a:hover{
    color: #303030;
}

#gustavo-img{
    display: flex;
    justify-content: start;
    padding: 2%;
}

a{
    color: #ff3131;
    text-decoration: none;
}

a:hover{
    color: #303030;
}

#img-homepage{
    display: flex;
    justify-content: center;
}

